// Colors for the theme
$dracula-background: #282a36;
$dracula-background-darker: #21222d;
$dracula-current-line: #44475a;
$dracula-foreground: #f8f8f2;
$dracula-comment: #6272a4;
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;

:root * {
  // Have to set these manually, for whatever reason I can't reference them directly
  --interactive-accent: #bd93f9;
  --text-accent: #bd93f9;
  --text-on-accent: #282a36;
  --text-accent-hover: #bd93f9;
  --font-monospace: "JetBrains Mono";
  --background-primary: #282a36;
  --background-primary-alt: #21222d;
  --background-secondary: #282a36;
  --background-secondary-alt: #21222d;
  --background-modifier-cover: rgba(0, 0, 0, 0.5);
  --background-modifier-border: #21222d;
  --text-faint: #6272a4;
  --text-muted: #f8f8f2a4;
}
